# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db